<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/demo-doto.css">
    <script src="js/vue-2.3.4.js"></script>
</head>
<body>
    <div class="page-top">
        <div class="page-content">
            <h2>任务计划列表</h2>
        </div>
    </div>
    <div class="main">
        <h3 class="big-title">添加任务：</h3>
        <input 
            placeholder="例如：吃饭睡觉打豆豆；    提示：+回车即可添加任务" 
            class="task-input" 
            type="text"
            v-model="todo"
            v-on:keyup.enter="addTodo"
        />
        <ul class="task-count" v-show="list.length">
            <li>1个任务未完成</li>
            <li class="action">
                <a class="active" href="#">所有任务</a>
                <a href="#">未完成的任务</a>
                <a href="#">完成的任务</a>
            </li>
        </ul>
        <h3 class="big-title">任务列表：</h3>
        <div class="tasks">
            <span class="no-task-tip" v-show="!list.length">还没有添加任何任务</span>
            <ul class="todo-list">
                <li class="todo" v-bind:class="{completed: item.isChecked}" v-for="item in list" >
                    <div class="view">
                        <input class="toggle" type="checkbox" v-model="item.isChecked"/>
                        <label>{{ item.title }}</label>
                        <button class="destroy" @click="deleteTodo(item)"></button>
                    </div>
                    <input class="edit" type="text"/>
                </li>
            </ul>
        </div>
    </div>
    <script type="text/javascript">
        var store ={
            save(key,value){
                localStorage.setItem(key,JSON.stringify(value));
            },
            fetch(key){
                return JSON.parse(localStorage.getItem(key)) || [];
            }
        }
        var list=store.fetch("paopao-new");
        /*var list = [
          {
             title:"吃饭打豆豆",
              isChecked:true
          },
          {
              title:"妙味课堂",
              isChecked:false
          }
        ];*/
        
        new Vue({
            el:".main",
            data:{
                list:list,
                todo:""
            },
            watch:{
                //浅监控
                /*list:function(){
                    store.save("paopao-new",this.list);
                }*/

                //深监控
                list:{
                    handler:function(){
                        store.save("paopao-new",this.list);
                    },
                    deep:true
                }
            },
            methods:{
                addTodo(ev){  //添加任务
                    this.list.push({
                        title:this.todo,
                        isChecked:false
                    });
                    this.todo="";
                },
                deleteTodo(todo){
                    var index = this.list.indexOf(todo);
                    this.list.splice(index,1);
                }
            }
        });
    </script>
</body>
</html>